html, body
{
    width: 100%;
    height : 100%;
    margin:0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}
.menu{
    float: left;
    width: 15%;
    height: 100%;
    background: #1D2043 0 0;
    /* box-shadow: 0 2px 5px #1c1a19; MOCHE SINON */
    position:relative; /* Va permettre d'apparaitre au premier plan */
    /* margin-top: -10%; Je crois qu'elle a mit sa pour pas que ça mange le footer */
}
.logoIM
{
    margin-left:20%;
    margin-top:10%;
}
nav ul
{
    list-style-type: none;
}
nav a
{
    font-size: 130%;
    color: #FFFFFF;
    text-decoration: none;
}
nav a:hover
{
    color: #2699FB;
    border-bottom: 3px solid #F1F9FF;
}
nav li
{
    padding-top: 10%;
    margin-right: 10%;
    margin-bottom: 20%;
}
@media screen and (max-width: 1000px){
    .menu {
        width: 30%;
    }
    .logoIM{
        width : 60%;
    }
}